/*@import "Dropdown.module.css";*/

.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.dropdown .title {
    display: flex;    
    justify-content:space-between ;
    align-items: center;
    background: var(--color-primary);
    border-radius: 5px;
    padding: 5px 18px;
}

.dropdown .title:hover {
    cursor: pointer;
}

.dropdown h2 {    
    margin: 0; 
    font-size: 24px;   
}

.dropdown img {
    padding: 0;
    margin: 0; 
    width: 26px;
    height: 26px;
}

.dropdown .content {   
    padding: 30px 20px;
    height: 100%;
    margin: 0; 
    background: #F7F7F7;
    border-radius: 5px;
}

.dropdown .content p { 
    padding: 0;
    margin: 0; 
    color: var(--color-primary);
    font-weight: 400;
}

@media (max-width: 768px) {
    .dropdown .title {
        height: 30px;
        min-height: 30px;
    }

    .dropdown h2 {   
        font-size: calc(var(--text-normal) + 1px);
    }

    .dropdown img {
        width: 16px;
        height: 16px;
    }

    .dropdown .content {  
        padding: 25px 5px 50px 10px;
    }

    .dropdown .content p {   
        font-size: var(--text-normal);
    }
}

@media (min-width: 769px) {
    .dropdown .title {
        height: 50px;
        min-height: 50px;
    }

    .dropdown img {
        width: 26px;
        height: 26px;
    }
    
    .dropdown h2 {   
        font-size: var(--text-normal);
    }

    .dropdown .content {  
        padding: 30px 20px;
    }

    .dropdown .content p {   
        font-size: var(--text-normal);
    }
}