.dropdown {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.dropdown .title {
    display: flex;    
    justify-content:space-between ;
    align-items: center;
    background: var(--color-primary);
    border-radius: 5px;
    padding: 5px 18px;
}

.dropdown .title:hover {
    cursor: pointer;
}

.dropdown h2 {    
    margin: 0; 
}

.dropdown img {
    padding: 0;
    margin: 0; 
    width: 26px;
    height: 26px;
}

.dropdown .content {   
    padding: 30px 20px;
    margin: 0; 
    height: 100%;    
    background: #F7F7F7;
    color: var(--color-primary);
    font-weight: 400;
    border-radius: 5px;
}

.dropdown .content p { 
    padding: 0;
    margin: 0;     
    color: var(--color-primary);
    font-weight: 400;
}

@media (max-width: 768px) {
    .dropdown .title {
        height: 30px;
    }

    .dropdown h2 {   
        font-size: calc(var(--text-medium) + 1px);
    }

    .dropdown img {
        width: 16px;
        height: 16px;
    }

    .dropdown .content {  
        padding: 25px 5px 50px 10px;        
    }

    .dropdown .content p { 
        font-size: var(--text-medium);
    }
}

@media (min-width: 769px) {
    .dropdown .title {
        height: 50px;
    }

    .dropdown img {
        width: 26px;
    }

    .dropdown h2 {   
        font-size: var(--text-medium);
    }

    .dropdown .content {  
        padding: 30px 20px;        
    }

    .dropdown .content p { 
        font-size: var(--text-medium);
    }
}