.carousel {
    position: relative;
    height: 415px; 
    border-radius: 25px;
}

.carousel .arrow {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel .btn {
    width:46.68px;
    height: 79.2px;
    margin: 0 25px;
}

.carousel .btn:hover {
    cursor: pointer;
}

.carousel .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
}

.carousel .count {
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: calc(100% - 60px);
}

@media (max-width: 768px) {
    .carousel {
        height: 255px; 
        margin-top: 30px; 
        border-radius: 10px;
    }

    .carousel .arrow {
        top: calc(50% - (19.8px / 2));
    }

    .carousel .btn {
        width: 11.67px;
        height: 19.8px;
        margin: 0 5px;
    }

    .carousel .background {
        border-radius: 10px;
    }  
    
    /*.carousel .count {
        display: none;
    }*/
}

@media (min-width: 769px) {
    .carousel .carousel {
        height: 415px;
        margin-top: 25px; 
        border-radius: 25px;
    }

    .carousel .arrow {
        top: calc(50% - (79.2px / 2));
    }

    .carousel .btn {
        width:46.68px;
        height: 79.2px;
        margin: 0 25px;
    }

    .carousel .background {
        border-radius: 25px;
    } 
    
    /*.carousel .count {
        display: inherit;
    }*/
}