.aPropos {
    width: auto;    
    position: relative;
    display: flex;
    flex-direction: column;    
}

.aPropos .section {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .aPropos {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin);
        margin-bottom: var(--page-margin);
    }

    .aPropos .section {
        margin: 10px 0 20px 0;
        row-gap: 20px;
    }

    .aPropos .banner {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .aPropos {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin);
        margin-bottom: var(--page-margin);
    }

    .aPropos .section {
        margin: 0 100px 20px 100px;
        row-gap: 30px;
    }

    .aPropos .banner {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}