.aPropos {
    width: auto;
    
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .aPropos {
        min-height: calc(100vh - 334px);
        margin: 0 20px 20px 20px;
    }
}

@media (min-width: 769px) {
    .aPropos {
        min-height: calc(100vh - 386px);
        margin: 0 40px 40px 40px;
    }
}