.aPropos {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .aPropos {
        margin: 0 20px 20px 20px;
    }
}

@media (min-width: 769px) {
    .aPropos {
        margin: 0 40px 40px 40px;
    }
}