.main {
    display: flex;
    flex-direction: column;      
}

.main .announcement {
    display:flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;    
}

.main .announcement .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
}

.main .announcement .host {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items:flex-end;
}

.main .content {
    display: flex;
    height: 100%;
    align-items: stretch;
    column-gap: 76px;
    margin-top: 15px;  
}

@media (max-width: 768px) {
    .main {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin) var(--page-margin-height) var(--page-margin);
    }

    .main .announcement {
        flex-direction: column;
        row-gap: 16px;
        margin-top: 15px;  
    }

    .main .announcement .host {
        flex-direction: row-reverse;
        align-items: center;
        justify-content:space-between;
    }

    .main .content {   
        flex-direction: column;
        height: 100%;
        align-items: center;
        row-gap: 20px;
        column-gap: 76px;
        margin-top: 15px;
    }
}

@media (min-width: 769px) {
    .main {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin) var(--page-margin-height) var(--page-margin);
    }

    .main .announcement {
        flex-direction: row;
        margin-top: 30px;  
    }

    .main .announcement .host {
        flex-direction: column;
        align-items:flex-end;
    }

    .main .content {  
        flex-direction: row; 
        column-gap: 76px;
        margin-top: 15px;
    }
}