footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
}

footer picture {
    width: fit-content;
}

footer img {
    width: 122px;
    height: 40px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    footer img {
        margin-top: 62px;
    }

    footer p {
        margin: 30px auto 60px auto;
        font-size: 12px;
    }
}

@media (min-width: 769px) {
    footer img {
        margin-top: 66px;
    }

    footer p {
        margin: 30px auto;
        font-size: 24px;
    }
}