header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header picture {
    width: fit-content;
}

@media (max-width: 768px) {
    header {
        margin: 20px 20px 0 20px;
    }

    header img {
        width: 145px;
        height: 47px;
    }
}

@media (min-width: 769px) {
    header {
        margin: 40px 40px 0 40px;
    }

    header img {
        width: 210.32px;
        height: 68px;
    }
}