.home {    
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .home {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin);
        margin-bottom: var(--page-margin);
    }
}

@media (min-width: 769px) {
    .home {
        min-height: var(--page-min-height);
        margin: 0 var(--page-margin);
        margin-bottom: var(--page-margin);
    }
}
