.rootLayout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1320px;
    min-width: 375px;
    height: 100%;
    margin: 0 auto 0px auto;
}

@media (max-width: 768px) {
    
}

@media (min-width: 769px) {
    
}